			<div class="clear"></div>
		</div>
		<a href="#body">
			<div id="up">
				<svg style="width: 40px; height: 40px" viewBox="0 0 24 24">
				    <path fill="#ffffff" d="M12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22M12,7L7,12H10V16H14V12H17L12,7Z" />
				</svg>
			</div>
		</a>
		<script type="text/javascript" src="public/js/jizi.js"></script>
		<script type="text/javascript" src="public/js/auth.js"></script>
		<script type="text/javascript" src="public/js/signin.js"></script>
		<script type="text/javascript" src="public/js/signup.js"></script>
		<script type="text/javascript" src="public/js/signout.js"></script>
		<script type="text/javascript" src="public/js/reset.js"></script>
		<script type="text/javascript" src="public/js/pics.js"></script>
		<script type="text/javascript" src="public/js/like.js"></script>
		<script type="text/javascript" src="public/js/comments.js"></script>
		<script type="text/javascript" src="public/js/webcam.js"></script>
	</body>
</html>
