			<div class="clear"></div>
		</div>
		<script type="text/javascript" src="public/js/jizi.js"></script>
		<script type="text/javascript" src="public/js/auth.js"></script>
		<script type="text/javascript" src="public/js/signin.js"></script>
		<script type="text/javascript" src="public/js/signup.js"></script>
		<script type="text/javascript" src="public/js/signout.js"></script>
		<script type="text/javascript" src="public/js/reset.js"></script>
		<script type="text/javascript" src="public/js/pics.js"></script>
		<script type="text/javascript" src="public/js/like.js"></script>
		<script type="text/javascript" src="public/js/webcam.js"></script>
	</body>
</html>
