<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#27ae60">
		<link rel="stylesheet" href="public/css/fonts.css" charset="utf-8">
		<link rel="stylesheet" href="public/css/screen.css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="public/css/mobile.css" media="(max-width: 1015px)" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pics</title>
	</head>
	<body id="body">
		<div id="info">
			<div id="info_cross">X</div>
			<div id="info_text"></div>
			<div class="clear"></div>
		</div>
		<div id="login_bar">
			<div class="container">
				<div id="signin">
					<div class="login_title">Se connecter</div>
					<input id="signin_user" type="text" placeholder="Pseudo">
					<input id="signin_pass" type="password" placeholder="Mot de passe">
					<button id="signin_submit">Connexion</button>
					<button id="switch_reset_submit">Mot de passe oublié</button>
				</div>
				<div id="reset">
					<div class="login_title">Mot de passe oublié</div>
					<input id="reset_mail" type="text" placeholder="Mail">
					<button id="reset_submit">Réinitialiser</button>
					<button id="switch_signin_submit">Se connecter</button>
				</div>
				<div class="login_title">S'inscrire</div>
				<input id="signup_user" type="text" placeholder="Pseudo">
				<input id="signup_mail" type="text" placeholder="Mail">
				<input id="signup_pass1" type="password" placeholder="Mot de passe">
				<input id="signup_pass2" type="password" placeholder="Mot de passe">
				<button id="signup_submit">Inscription</button>
			</div>
		</div>
		<div id="member_bar">
			<div class="container">
				Pseudo :
				<span id="member_user"></span>
				Mail :
				<span id="member_mail"></span>
				<button id="signout_submit">Déconnexion</button>
			</div>
		</div>
		<header>
			<div class="container">
				<div id="title">InstaPics</div>
			</div>
		</header>
		<div class="container">
