<input id="signin_user" type="text">
<input id="signin_pass" type="password">
<button id="signin_submit">Connexion</button>
<script type="text/javascript">
	window.onkeydown = function(event) {
		if (event.keyCode === 13)
			signin();
	}
	document.getElementById("signin_submit").addEventListener("click", signin);
	function signin() {
		var user = document.getElementById("signin_user").value;
		var pass = document.getElementById("signin_pass").value;
		var submit = document.getElementById("signin_submit").innerHTML;
		document.getElementById("signin_pass").value = "";

		Z.l(user + " : " + pass + " : " + submit, "blue");
		Z.post("model/login.php", {
			user: user,
			pass: pass,
			submit: submit
		}, function(v) {
			Z.l(v, "red");
		});
	}
</script>
