/* FONTS */
@font-face {
    font-family: 'latothin';
    src: url('../fonts/lato-hairline-webfont.eot');
    src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yorkwhite';
    src: url('../fonts/yorkwhiteletter-webfont.woff2') format('woff2'),
         url('../fonts/yorkwhiteletter-webfont.woff') format('woff'),
		 url('../fonts/yorkwhiteletter-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
html, body {
	padding: 0px;
	margin: 0px;
    color: #efefef;
    font-size: 1.1em;
    font-family: 'latothin', sans-serif;
	background: #efefef;
}
::selection {
  background: #1abc9c;
  color: #fff;
}
::-moz-selection {
  background: #1abc9c;
  color: #fff;
}
.clear {
	clear: both;
}
#background_video {
      position: fixed;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%; width: 100%;
}
#info {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 3;
	text-align: center;
	line-height: 50px;
}
a {
	color: #1abc9c;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}
a:hover {
	color: #16a085;
}
p {
	text-align: justify;
}
.container {
	width: 100%;
	z-index: 2;
	position: relative;
}
textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
.page_title {
	width: 100%;
	font-size: 50px;
	text-align: center;
}
input {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
input:focus {
	outline: 0;
}
button:focus {
	outline: 0;
}
button:hover {
	cursor: pointer;
}

/* HEADER */
header, footer {
    text-align: center;
    background-color: #1abc9c;
}
header {
	height: 60px;
	line-height: 55px;
	font-family: "yorkwhite", sans-serif;
	font-size: 2em;
}
footer {
	line-height: 30px;
	height: 30px;
}
header a, footer a {
	text-decoration: none;
	color: #efefef;
}
.logo {
	cursor: pointer;
}
.nav_svg {
	margin-right: 0px;
}
.nav_svg:hover {
	cursor: pointer;
}
.left {
	float: left;
}
.right {
	float: right;
	margin-right: 10px;
}

/* NAV */
nav.filters {
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
	left: 0px;
	z-index: 3;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #16a085;
    color: #eee;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
li {
    padding: 1em;
}
li a{
    color: #eee;
	text-decoration: none;
}
li a:hover{
    color: #efefef;
}
nav.account ul {
	background: #333;
}
nav.account li {
	padding: 0.2em;
}

/* MAIN */
section, aside {
    color: #eee;
	height: calc(100vh - 90px);
}
section {
    -webkit-flex: 2 1 600px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 600px;
    flex: 2 1 600px;
	display: flex;
	flex-direction: column;
}
aside {
	width: 300px;
	background-color: #333;
	overflow-y: auto;
	overflow-x: hidden;
}
.content {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	flex-wrap: wrap;
}

/* Search */
.search {
	width: 90%;
	margin: 0px auto;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.search #search_bar {
	width: 100%;
	padding: 5px;
	height: 50px;
	text-indent: 5px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-right: none;
	border-radius: 10px 0px 0px 10px;
	background: rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	overflow: hidden;
	-webkit-transition: background 0.5s;
    transition: background 0.5s;
}
[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}
.search #search_bar:focus {
	outline: 0;
	background: rgba(255, 255, 255, 0.3);
}
.search #search_button {
	width: 15%;
	height: 60px;
	line-height: 70px;
	border: 2px solid #fff;
	border-radius: 0px 10px 10px 0px;
	background: rgba(255, 255, 255, 1);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	color: #333;
	text-align: center;
}
.search #search_button:hover {
	cursor: pointer;
}

/* Login */
.login {
	max-width: 600px;
	margin: 0px auto;
}
.login div {
	background: #fff;
	padding: 10px;
}
.login input {
	height: 40px;
	margin-bottom: 5px;
	font-size: 1.1em;
	font-family: "latothin", sans-serif;
	color: #444;
}
.login button {
	width: 100%;
	height: 40px;
	font-size: 1em;
	font-family: "latothin", sans-serif;
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
}
#map {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.desc {
	color: #333;
}

/* Profiles */
.profiles {
	display: none;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 60px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 60px);
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 2em;
}
.profiles_close {
	float: right;
	padding-right: 5px;
	cursor: pointer;
}
.profiles div {
	max-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.5em;
}
.profiles div span{
	color: #16a085;
}
.profiles_img img{
	width: 100%;
}
.img_nav {
	display: flex;
}
.img_nav div {
	justify-content: space-between;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-family: "latothin", sans-serif;
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
	font-size: 1.2em;
}
.img_nav div:hover {
	cursor: pointer;
}
.profiles_bio {
	text-align: justify;
}

/* Edit */
.edit {
	display: none;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 60px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 60px);
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 2em;
}
.edit_close {
	float: right;
	padding-right: 5px;
	cursor: pointer;
}
.edit div {
	max-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.5em;
}
.edit div span{
	color: #16a085;
}
.edit_img img{
	width: 100%;
}
.img_nav {
	display: flex;
}
.img_nav div {
	justify-content: space-between;
	width: 150px;
	height: 30px;
	line-height: 35px;
	font-family: "latothin", sans-serif;
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
	font-size: 1.2em;
}
.img_nav div:hover {
	cursor: pointer;
}
.edit_bio textarea {
	text-align: justify;
	height: 100px;
}
.edit_add_tag {
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
}
.edit_validate {
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
}

/* Message */
.message {
	/*display: none;*/
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 60px);
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 2em;
}
.message_close {
	float: right;
	padding-right: 5px;
	cursor: pointer;
}
.message_global {
	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	height:  calc(100vh - 110px);
}
.message_users {
	width: 200px;

	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.message_user {
	font-size: 1em;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
}
.message_user img {
	width: 60px;
	border-radius: 100%;
	border: 2px solid #1abc9c;
}
.name {
	font-size: 0.6em;
}
.username {
	font-size: 0.4em;
}
.message_content {
	-webkit-flex: 2 1 500px;
	-webkit-box-flex: 2;
	-ms-flex: 2 1 500px;
	flex: 2 1 500px;

	font-size: 0.6em;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	overflow-y: auto;
}
.message_content img {
	width: 20px;
}
.message_content div {
	text-align: justify;
}
.message_sender {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 2px;
	background: #efefef;
	color: #333;
	float: right;
}
.message_receiver {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 2px;
	background: #1abc9c;
	color: #fff;
	float: left;
}
.message_text {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 40px;
	font-size: 0.5em;
	font-family: "latothin", sans-serif;
	width: 100%;
}
