/* FONTS */
@font-face {
    font-family: 'latothin';
    src: url('../fonts/lato-hairline-webfont.eot');
    src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yorkwhite';
    src: url('../fonts/yorkwhiteletter-webfont.woff2') format('woff2'),
         url('../fonts/yorkwhiteletter-webfont.woff') format('woff'),
		 url('../fonts/yorkwhiteletter-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
html, body {
	padding: 0px;
	margin: 0px;
    color: #efefef;
    font-size: 1.1em;
    font-family: 'latothin', sans-serif;
	background: #efefef;
}
#background_video {
      position: fixed;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%; width: 100%;
}
#info {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 3;
	text-align: center;
	line-height: 50px;
}
a {
	color: #1abc9c;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}
a:hover {
	color: #16a085;
}
p {
	text-align: justify;
}
.container {
	width: 100%;
	z-index: 2;
	position: relative;
}
textarea {
  resize: none;
}
.page_title {
	width: 100%;
	font-size: 50px;
	text-align: center;
}
input {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
input:focus {
	outline: 0;
}
button:focus {
	outline: 0;
}
button:hover {
	cursor: pointer;
}

/* HEADER */
header, footer {

    text-align: center;
    background-color: #1abc9c;
}
header {
	line-height: 60px;
	height: 60px;
	line-height: 50px;
	font-family: "latothin", sans-serif;
	font-size: 2em;
}
footer {
	line-height: 30px;
	height: 30px;
}
header a, footer a {
	text-decoration: none;
	color: #efefef;
}
header button {
	background: none;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	font-family: "latolight", sans-serif;
	font-size: 0.5em;
	margin-right: 10px;
}

.left {
	float: left;
}
.right {
	float: right;
}

/* NAV */
nav {

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #16a085;
    color: #eee;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
li {
    padding: 1em;
}
li a{
    color: #eee;
	text-decoration: none;
}
li a:hover{
    color: #efefef;
}
nav.account ul {
	background: #333;
}
nav.account li {
	padding: 0.2em;
}

/* MAIN */
section, aside {
    color: #eee;
	height: calc(100vh - 154px);
}
section {
    -webkit-flex: 2 1 600px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 600px;
    flex: 2 1 600px;
	display: flex;
	flex-direction: column;
}
aside {
	width: 300px;
	background-color: #333;
	overflow-y: scroll;
	overflow-x: hidden;
}
.content {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	flex-wrap: wrap;
}

/* Search */
.search {
	width: 90%;
	margin: 0px auto;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.search #search_bar {
	width: 100%;
	padding: 5px;
	height: 50px;
	text-indent: 5px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-right: none;
	border-radius: 10px 0px 0px 10px;
	background: rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	overflow: hidden;
	-webkit-transition: background 0.5s;
    transition: background 0.5s;
}
[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}
.search #search_bar:focus {
	outline: 0;
	background: rgba(255, 255, 255, 0.3);
}
.search #search_button {
	width: 15%;
	height: 60px;
	line-height: 70px;
	border: 2px solid #fff;
	border-radius: 0px 10px 10px 0px;
	background: rgba(255, 255, 255, 1);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	color: #333;
	text-align: center;
}
.search #search_button:hover {
	cursor: pointer;
}

/* SLogan */
.slogan {
	width: 90%;
	margin: 0px auto;
	text-align: center;
	line-height: 12vw;
	font-size: 8vw;
}
@media (min-width: 1200px) {
	.slogan {
		font-size: 100px;
	}
}

/* Home */


/* Profiles */
.user {
	width: 100%;
	background: #efefef;
	color: #333;
	padding-bottom: 2px;
}
.img {
	width: 100%;
	border-bottom: 10px solid #333;
}
.turquoise {
	border-bottom: 10px solid #1abc9c;
}
.emerald {
	border-bottom: 10px solid #2ecc71;
}
.river {
	border-bottom: 10px solid #3498db;
}
.amethyst {
	border-bottom: 10px solid #9b59b6;
}
.asphalt {
	border-bottom: 10px solid #34495e;
}
.flower {
	border-bottom: 10px solid #f1c40f;
}
.orange {
	border-bottom: 10px solid #f39c12;
}
.red {
	border-bottom: 10px solid #c0392b;
}
.gray {
	border-bottom: 10px solid #7f8c8d;
}
.user div {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border-radius: 0px;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.user div:hover {
	cursor: pointer;
	opacity: 0.6;
}
.firstname, .lastname {
	border-left: 6px solid #2e8dcd;
	border-top: 1px solid #3498db;
	border-right: 1px solid #3498db;
	border-bottom: 1px solid #3498db;
}
.age {
	border-left: 6px solid #8e44ad;
	border-top: 1px solid #9b59b6;
	border-right: 1px solid #9b59b6;
	border-bottom: 1px solid #9b59b6;
}
.gender {
	border-left: 6px solid #f39c12;
	border-top: 1px solid #f1c40f;
	border-right: 1px solid #f1c40f;
	border-bottom: 1px solid #f1c40f;
}
.score {
	border-left: 6px solid #c0392b;
	border-top: 1px solid #e74c3c;
	border-right: 1px solid #e74c3c;
	border-bottom: 1px solid #e74c3c;
}
.bio {
	text-align: justify;
	border-left: 6px solid #2c3e50;
	border-top: 1px solid #34495e;
	border-right: 1px solid #34495e;
	border-bottom: 1px solid #34495e;
}
.tag {
	border-left: 6px solid #27ae60;
	border-top: 1px solid #2ecc71;
	border-right: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
}

/* Login */
.login {
	max-width: 600px;
	margin: 0px auto;
}
.login div {
	background: #fff;
	padding: 10px;
}
.login input {
	height: 40px;
	margin-bottom: 5px;
	font-size: 1.1em;
	font-family: "latothin", sans-serif;
	color: #444;
}
.login button {
	width: 100%;
	height: 40px;
	font-size: 1em;
	font-family: "latothin", sans-serif;
	border: 1px solid #16a085;
	background: #1abc9c;
	color: #fff;
}
#map {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.desc {
	color: #333;
}
