/* FONTS */
@font-face {
    font-family: 'latothin';
    src: url('../fonts/lato-hairline-webfont.eot');
    src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yorkwhite';
    src: url('../fonts/yorkwhiteletter-webfont.woff2') format('woff2'),
         url('../fonts/yorkwhiteletter-webfont.woff') format('woff'),
		 url('../fonts/yorkwhiteletter-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
html, body {
	padding: 0px;
	margin: 0px;
    color: #efefef;
    font-size: 1.1em;
    font-family: 'latothin', sans-serif;
	background: url("../img/bg.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
#background_video {
      position: fixed;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%; width: 100%;
}
a {
	color: #1abc9c;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}
a:hover {
	color: #16a085;
}
p {
	text-align: justify;
}
.container {
	width: 100%;
	z-index: 2;
	position: relative;
}
textarea {
  resize: none;
}
.page_title {
	width: 100%;
	font-size: 50px;
}

/* HEADER */
header, footer {
    height: 150px;
	line-height: 150px;
    text-align: center;
    background-color: #1abc9c;
}
header {
	line-height: 130px;
	font-family: "yorkwhite", sans-serif;
	font-size: 4em;
}
footer {

}
header a, footer a {
	text-decoration: none;
	color: #efefef;
}

/* NAV */
nav {

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #16a085;
    color: #eee;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
li {
    padding: 1em;
}
li a{
    color: #eee;
	text-decoration: none;
}
li a:hover{
    color: #efefef;
}

/* MAIN */
section, aside {
    color: #eee;
    padding: 3em 1.5em;
}
section {
    -webkit-flex: 2 1 500px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 500px;
    flex: 2 1 500px;
	display: flex;
	flex-direction: column;
}
aside {
	background-color: #333;
    -webkit-flex: 1 2 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 2 250px;
    flex: 1 2 250px;
}
.content {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	flex-wrap: wrap;
}

/* Search */
.search {
	width: 90%;
	height: 15vw;
	margin: 0px auto;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.search #search_bar {
	width: 100%;
	padding: 5px;
	height: 50px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-right: none;
	border-radius: 10px 0px 0px 10px;
	background: rgba(255, 255, 255, 0);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	overflow: hidden;
}
[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}
.search #search_bar:focus {
	outline: 0;
}
.search #search_button {
	width: 15%;
	height: 60px;
	line-height: 70px;
	border: 2px solid #fff;
	border-radius: 0px 10px 10px 0px;
	background: rgba(255, 255, 255, 1);
	color: #fff;
	font-size: 40px;
	font-family: "latothin", sans-serif;
	color: #333;
	text-align: center;
}
.search #search_button:hover {
	cursor: pointer;
}

/* SLogan */
.slogan {
	width: 90%;
	height: 15vw;
	margin: 0px auto;
	text-align: center;
	line-height: 12vw;
	font-size: 8vw;
}
@media (min-width: 1200px) {
	.slogan {
		font-size: 100px;
	}
}

/* Home */


/* Profiles */
.user {
	width: 100%;
	background: #efefef;
	border-radius: 5px;
	color: #333;
	margin-top: 10px;
}
.user img {
	border-radius: 5px 0px 0px 5px;
	border-right: 10px solid #333;
	width: 240px;
	float: left;
}
.user div {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: left;
}
.name {
	border-left: 6px solid #2e8dcd;
	border-top: 1px solid #3498db;
	border-right: 1px solid #3498db;
	border-bottom: 1px solid #3498db;
}
.age {
	border-left: 6px solid #8e44ad;
	border-top: 1px solid #9b59b6;
	border-right: 1px solid #9b59b6;
	border-bottom: 1px solid #9b59b6;
}
.gender {
	border-left: 6px solid #f39c12;
	border-top: 1px solid #f1c40f;
	border-right: 1px solid #f1c40f;
	border-bottom: 1px solid #f1c40f;
}
.score {
	border-left: 6px solid #27ae60;
	border-top: 1px solid #2ecc71;
	border-right: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
}

/* Login */
.login {
	max-width: 800px;
	margin: 3em auto;
	background-color: white;
	height: 500px;
	border: 10px solid #594255;
	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
