.content {
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
section {
	margin-right: 0;
	-webkit-flex-basis: auto;
	-moz-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}
nav ul {
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
li {
	text-align: center;
}

/* Home */
#background_video {
      display: none;
}
