body {
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header, footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ccc;
}
.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #594255;
    color: #eee;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
li {
    padding: 1em;
}
section, aside {
    background-color: #594255;
    color: #eee;
    padding: 3em 1.5em;
    margin: 1% 0;
}
section {
    -webkit-flex: 2 1 500px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 500px;
    flex: 2 1 500px;
    margin-right: 1%;
}
aside {
    -webkit-flex: 1 2 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 2 250px;
    flex: 1 2 250px;
}
.container {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
@media screen and (max-width: 500px) {
    .container {
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section {
        margin-right: 0;
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navigation {
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    li {
        text-align: center;
    }
}
