<div id="edit" class="edit_pane">
	<div class="edit_name">
		<%= me.firstname + " " + me.lastname %>
	</div>
	<div class="">Bith date</div>
	<input class="edit_date" type="date" name="edit_date">
	<div class="">Gender</div>
	<select class="edit_gender">
		<option value="man">Man</option>
		<option value="woman">Woman</option>
	</select>
	<div class="">Orientation</div>
	<select class="edit_orientation">
		<option value="man">Man</option>
		<option value="woman">Woman</option>
		<option value="other">Both</option>
	</select>
	<div class="">Biography</div>
	<textarea name="edit_bio" rows="10" cols="46"></textarea>
	<div class="">Biography</div>
	<textarea name="edit_bio" rows="10" cols="46"></textarea>
</div>
