		</div>
		<footer>Jimi</footer>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/ws.js"></script>
		<script src="/js/map.js"></script>
		<script src="/js/ui.js"></script>
		<script src="/js/profiles.js"></script>
		<script src="/js/message.js"></script>
		<script src="/js/norefresh.js"></script>
		<script src="/js/nprogress.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrz8h8SAOcv2S92upJPFUreYHV6DATS8&amp;callback=initMap"></script>
	</body>
</html>
