doctype html
html
	head
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', href='css/screen.css')
	body
		header
			| Matcha
		nav
			ul.navigation
				li
					a Home
				li
					a Pofiles
				li
					a About
				li
					a Contact
