doctype html
html
	head
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
		link(rel='stylesheet', type='text/css', media='(min-width: 1000px)', href='css/screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 999px)', href='css/small-screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
	body
		header!="<a href=\"http://localhost:3001\">Îé" + name + "éÏ</a>"
		nav
			ul
				li
					a(href="#") Home
				li
					a(href="#") Profiles
				li
					a(href="#") About
				li
					a(href="#") Contact
