<!DOCTYPE html>
<html>
	<head>
		<title>Choose</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="css/master.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/nprogress.css">
		<link rel="stylesheet" type="text/css" media="(min-width: 1200px)" href="css/screen.css">
		<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="css/mobile.css">
	</head>
	<body>
		<div id="info"></div>
		<header>
			<div class="left">ÎééééchooseééééÏ</div>
			<div class="right">
				<button id="user_edit">Edit profile</button>
				<a href="login/logout"><button>Sign Out</button></a>
			</div>
		</header>
		<nav>
			<ul>
			<li><a href="home" class="no-refresh">Home</a></li>
			<li><a href="profiles" class="no-refresh">Profiles</a></li>
			<li><a href="about" class="no-refresh">About</a></li>
			<li><a href="contact" class="no-refresh">Contact</a></li>
			</ul>
		</nav>
		<div class="content">
