<div id="message" class="message">
	<div id="message_close" class="edit_close">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
		    <path fill="#fff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div>
	<div class="message_users">
		<span>Florian H</span>
		<span>John Doe</span>
	</div>
	<div id="message_content" class="message_content"></div>
	<div class="message_input">
		<input id="message_text" class="message_text" type="text" name="name" value="">
		<svg id="message_send" class="message_send" style="width:24px;height:24px" viewBox="0 0 24 24">
		    <path fill="#fff" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
		</svg>
	</div>
</div>
