<div id="message" class="message">
	<div class="message_global">
		<div id="message_users" class="message_users">
		</div>
		<div id="message_content" class="message_content"></div>
	</div>
	<div class="message_input">
		<input id="message_text" class="message_text" type="text" name="msg" placeholder="Select a conversation on the left pane." disabled>
	</div>
</div>
