<div id="message" class="message">
	<div class="message_global">
		<div id="message_users" class="message_users">
			<div class="message_user" onclick="getReceiver(this, 'jimi');">
				<div class="img">
					<img src="/api/img/view/jimi/60/1" alt="" />
				</div>
				<div class="name">
					Jimi Maiquez
				</div>
				<div class="username">
					jimi
				</div>
			</div>
			<div class="message_user" onclick="getReceiver(this, 'fhj');">
				<div class="img">
					<img src="/api/img/view/fhj/60/0" alt="" />
				</div>
				<div class="name">
					Florian H
				</div>
				<div class="username">
					fhj
				</div>
			</div>
			<div class="message_user" onclick="getReceiver(this, 'test');">
				<div class="img">
					<img src="/api/img/view/test/60/0" alt="" />
				</div>
				<div class="name">
					John Doe
				</div>
				<div class="username">
					test
				</div>
			</div>
		</div>
		<div id="message_content" class="message_content"></div>
	</div>
	<div class="message_input">
		<input id="message_text" class="message_text" type="text" name="msg" placeholder="Select a conversation on the left pane." disabled>
	</div>
</div>
