<div id="message" class="message">
	<!-- <div id="message_close" class="edit_close">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
		    <path fill="#fff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div> -->
	<!-- <div class="message_users">
		<span>Florian H</span>
		<span>John Doe</span>
	</div> -->
	<div class="message_global">
		<div id="message_users" class="message_users">
			<div class="message_user" onclick="getReceiver('jimi');">
				<img src="/api/img/view/jimi/60/1" alt="" />
				<div class="name">
					Jimi Maiquez
				</div>
				<div class="username">
					jimi
				</div>
			</div>
			<div class="clear"></div>
			<div class="message_user" onclick="getReceiver('fhj');">
				<img src="/api/img/view/fhj/60/0" alt="" />
				<div class="name">
					Florian H
				</div>
				<div class="username">
					fhj
				</div>
			</div>
			<div class="clear"></div>
			<div class="message_user" onclick="getReceiver('test');">
				<img src="/api/img/view/test/60/0" alt="" />
				<div class="name">
					John Doe
				</div>
				<div class="username">
					test
				</div>
			</div>
		</div>
		<div id="message_content" class="message_content"></div>
	</div>
	<div class="message_input">
		<input id="message_text" class="message_text" type="text" name="msg" placeholder="Select a conversation on the left pane." disabled>
	</div>
</div>
