<div id="profiles" class="profiles">
	<span id="profiles_firstname" class="profiles_firstname">Jimi</span>
	<span id="profiles_lastname" class="profiles_lastname">Maïquez</span>
	<div id="profiles_img" class="profiles_img">
		<img src="https://www.gravatar.com/avatar/fe65f553c23437048d75161e836dd724?s=500" alt="" />
	</div>
	<div class="img_nav">
		<div id="img_prev"><</div>
		<div id="img_next">></div>
	</div>
	<div id="profiles_localisation" class="profiles_localisation">
		Localisation : <span id="localisation">France</span>
	</div>
	<div id="profiles_birthdate" class="profiles_birthdate">
		04/05/1997
	</div>
	<div id="profiles_age" class="profiles_age">
		<span id="profiles_age_s">19</span> years old
	</div>
	<div id="profiles_gender" class="profiles_gender">
		Gender : <span id="profiles_gender_s">Man</span>
	</div>
	<div id="profiles_preference" class="profiles_preference">
		Preference : <span id="profiles_preference_s">Woman</span>
	</div>
	<div id="profiles_tags" class="profiles_tags">
		<span id="tag">#Developer</span> <span id="tag">#France</span> <span id="tag">#Moto</span>
	</div>
	<div id="profiles_bio" class="profiles_bio">
		I'm Jimi and i'm student at 42 school in France, i like sport, food and bike.
	</div>
</div>
