<div id="profiles" class="profiles">
	<span id="profiles_firstname" class="profiles_firstname"></span>
	<span id="profiles_lastname" class="profiles_lastname"></span>
	<div id="profiles_img" class="profiles_img">
		<img id="profiles_img_s" src="" alt="" />
	</div>
	<div class="img_nav">
		<div id="img_prev"><</div>
		<div id="img_next">></div>
	</div>
	<div id="profiles_location" class="profiles_localisation">
		Location : <span id="profiles_location_s"></span>
	</div>
	<div id="profiles_age" class="profiles_age">
		<span id="profiles_age_s"></span> years old
	</div>
	<div id="profiles_gender" class="profiles_gender">
		Gender : <span id="profiles_gender_s"></span>
	</div>
	<div id="profiles_preference" class="profiles_preference">
		Preference : <span id="profiles_preference_s"></span>
	</div>
	<div id="profiles_tags" class="profiles_tags"></div>
	<div id="profiles_bio" class="profiles_bio"></div>
</div>
