<div id="profiles" class="profiles">
	<div id="profiles_close" class="edit_close">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			<path fill="#fff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div>
	<span id="profiles_firstname" class="profiles_firstname"></span>
	<span id="profiles_lastname" class="profiles_lastname"></span>
	<div id="profiles_img" class="profiles_img">
		<img id="profiles_img_s" src="" alt="" />
	</div>
	<div class="img_nav">
		<div id="profiles_img_prev" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M18.41,7.41L17,6L11,12L17,18L18.41,16.59L13.83,12L18.41,7.41M12.41,7.41L11,6L5,12L11,18L12.41,16.59L7.83,12L12.41,7.41Z" />
			</svg>
		</div>
		<div id="profiles_img_next" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z" />
			</svg>
		</div>
	</div>
	<div class="profiles_controls">
		<div id="profiles_controls_like" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
			</svg>
		</div>
		<div id="profiles_controls_block" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M12,0A12,12 0 0,1 24,12A12,12 0 0,1 12,24A12,12 0 0,1 0,12A12,12 0 0,1 12,0M12,2A10,10 0 0,0 2,12C2,14.4 2.85,16.6 4.26,18.33L18.33,4.26C16.6,2.85 14.4,2 12,2M12,22A10,10 0 0,0 22,12C22,9.6 21.15,7.4 19.74,5.67L5.67,19.74C7.4,21.15 9.6,22 12,22Z" />
			</svg>
		</div>
		<div id="profiles_controls_report" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" />
			</svg>
		</div>
	</div>
	<div id="profiles_location" class="profiles_localisation">
		Location : <span id="profiles_location_s"></span>
	</div>
	<div id="profiles_age" class="profiles_age">
		<span id="profiles_age_s"></span> years old
	</div>
	<div id="profiles_gender" class="profiles_gender">
		Gender : <span id="profiles_gender_s"></span>
	</div>
	<div id="profiles_preference" class="profiles_preference">
		Preference : <span id="profiles_preference_s"></span>
	</div>
	<div id="profiles_tags" class="profiles_tags"></div>
	<div id="profiles_bio" class="profiles_bio"></div>
</div>
