<div id="profiles" class="profiles">
	<div id="profiles_close" class="edit_close">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			<path fill="#fff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div>
	<span id="profiles_firstname" class="profiles_firstname"></span>
	<span id="profiles_lastname" class="profiles_lastname"></span>
	<div id="profiles_img" class="profiles_img">
		<img id="profiles_img_s" src="" alt="" />
	</div>
	<div class="img_nav">
		<div id="profiles_img_prev" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M18.41,7.41L17,6L11,12L17,18L18.41,16.59L13.83,12L18.41,7.41M12.41,7.41L11,6L5,12L11,18L12.41,16.59L7.83,12L12.41,7.41Z" />
			</svg>
		</div>
		<div id="profiles_img_next" onclick="">
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#fff" d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z" />
			</svg>
		</div>
	</div>
	<div id="profiles_location" class="profiles_localisation">
		Location : <span id="profiles_location_s"></span>
	</div>
	<div id="profiles_age" class="profiles_age">
		<span id="profiles_age_s"></span> years old
	</div>
	<div id="profiles_gender" class="profiles_gender">
		Gender : <span id="profiles_gender_s"></span>
	</div>
	<div id="profiles_preference" class="profiles_preference">
		Preference : <span id="profiles_preference_s"></span>
	</div>
	<div id="profiles_tags" class="profiles_tags"></div>
	<div id="profiles_bio" class="profiles_bio"></div>
</div>
