<div id="settings" class="settings">
	<div id="settings_close" class="edit_close">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			<path fill="#fff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div>
	Your mail address
	<div class="setings_info">
		<input id="settings_email" type="text" value="">
		<button id="settings_save" type="button">Submit</button>
	</div>
	Change password
	<div class="setings_info">
		<input id="settings_pass1" type="password" value="">
		<input id="settings_pass2" type="password" value="">
		<button id="settings_pass" type="button">Submit</button>
	</div>
	Peoples liked you
	<div id="settings_like" class="settings_like">
	</div>
	Peoples you blocked
	<div id="settings_blocked" class="settings_blocked">
	</div>
	Peoples visited you
	<div id="settings_visits" class="settings_visits">
	</div>
	Notifs
	<div id="settings_notifs" class="settings_notifs">
	</div>
</div>
