include ./includes/header.pug
.container
	section.main
		h1=title
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, qui totam placeat ullam eligendi itaque perferendis similique aliquam inventore tenetur. Eveniet quisquam unde vitae expedita voluptates soluta in obcaecati recusandae.
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptas autem sed a rem impedit quidem facere dolore praesentium optio provident minus deleniti eveniet ex cum fuga perferendis illum molestiae!
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, repellendus, nobis hic molestias eveniet perferendis nesciunt voluptate ipsum impedit quo a veritatis porro qui commodi expedita? Nostrum enim sed ab.
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, aspernatur reiciendis animi sequi ducimus odit ad quos libero fugiat vitae natus optio dolores reprehenderit enim aliquid necessitatibus deleniti voluptatum quod.
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, cumque, eveniet, veritatis, quae esse delectus non omnis incidunt nihil saepe labore neque fugiat praesentium. Nulla quam pariatur eos hic tempore.
	aside
		h1= "Sidebar"
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, qui totam placeat ullam eligendi itaque perferendis similique aliquam inventore tenetur. Eveniet quisquam unde vitae expedita voluptates soluta in obcaecati recusandae.
include ./includes/footer.pug
