doctype html
html
	head
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
		link(rel='stylesheet', type='text/css', media='(min-width: 1000px)', href='css/screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 999px)', href='css/small-screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
	body
		header!="<a href=\"home\">Îé" + name + "éÏ</a>"
		nav
			ul
				li
					a(href="home") Home
				li
					a(href="profiles") Profiles
				li
					a(href="about") About
				li
					a(href="contact") Contact
		.container
			block content
		footer!= "Made by <a href=\"#\">" + author + "</a>"
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		//script(src='js/norefresh.js')
