- if (!ajax) {
	doctype html
	html
		head
			title="Search"
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
			link(rel='stylesheet', type='text/css', media='all', href='css/nprogress.css')
			link(rel='stylesheet', type='text/css', media='(min-width: 1200px)', href='css/screen.css')
			link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
		body
			video(id="background_video" loop muted)
			| <div class="container">
			header!="<a class=\"no-refresh\" href=\"home\">Îéééé" + name + "ééééÏ</a>"
			nav
				ul
					li
						a(class="no-refresh", href="home") Home
					li
						a(class="no-refresh", href="profiles") Profiles
					li
						a(class="no-refresh", href="about") About
					li
						a(class="no-refresh", href="contact") Contact
			| <div class="content">
- }
block content
- if (!ajax) {
	| </div>
	footer!= "Made by <a href=\"#\">" + author + "</a>"
	| </div>
	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='https://code.jquery.com/jquery-2.2.4.min.js')
	script(src='js/norefresh.js')
	script(src='js/nprogress.js')
	script(src='js/main.js')
	script(src='js/search.js')
	script(src='js/bideo.js')
	script(src='js/bg.js')
- }
