if !ajax
	include ./includes/header.pug
if !ajax
	.container
		a(class='link1', href='home') home
		p= "Oui et toi ?"
else
	a(class='link1', href='home') home
	p= "Oui et toi ?"
if !ajax
	include ./includes/footer.pug
