extends ../index.pug

block content
	section
		.login
			h1=page
			#signup
				input(id="signup_username", type="text", placeholder="Username")
				input(id="signup_firstname", type="text", placeholder="Firstname")
				input(id="signup_lastname", type="text", placeholder="Lastname")
				input(id="signup_mail", type="text", placeholder="Mail")
				input(id="signup_pass1", type="password", placeholder="Password")
				input(id="signup_pass2", type="password", placeholder="Confirm password")
				button#signup_submit
					| SignUp
