extends ../index.pug

block content
	.slogan
		#search_bar(contenteditable)
		#search_button
			include ../../public/svg/search.svg
	section
		h1=page
		p
			| Bienvenue sur Search !
	aside
		h1= "Informations"
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, qui totam placeat ullam eligendi itaque perferendis similique aliquam inventore tenetur. Eveniet quisquam unde vitae expedita voluptates soluta in obcaecati recusandae.
