doctype html
html
	head
		title="Search"
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
		link(rel='stylesheet', type='text/css', media='all', href='css/nprogress.css')
		link(rel='stylesheet', type='text/css', media='(min-width: 1200px)', href='css/screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
	body
		video(id="background_video" loop muted)
		login
			input(type="text", placeholder="Mail")
			input(type="password", placeholder="Password")
			input(type="submit", value="Sign In")
