doctype html
html
	head
		title="Search"
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
		link(rel='stylesheet', type='text/css', media='all', href='css/nprogress.css')
		link(rel='stylesheet', type='text/css', media='(min-width: 1200px)', href='css/screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
	body
		#map
script(src='js/map.js')
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(async defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrz8h8SAOcv2S92upJPFUreYHV6DATS8&callback=initMap')
